 ## Control flow
 
 Beberapa hal dasar yang perlu dipahami:
 1. ```if else``` statement.
 2. ```for``` loops.
 3. ```while``` loops.
 4. ```break```, ```continue```, dan ```pass```.

# Operator Logika

## And
Bernilai False apabila salah satu pernyataan tidak memenuhi

<details>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191122131748/Python-logical-and-operator2.jpg" width="800">
</details>

In [34]:
a = 10
b = 10
c = -10

In [35]:
if a > 0 and b > 0:
    print("Kedua angka lebih besar dari 0")

Kedua angka lebih besar dari 0

In [36]:
if a > 0 and b > 0 and c < 0:
    print("Ketiga angka lebih besar dari 0")
else:
    print("Setidaknya satu variabel kurang dari 0")

Ketiga angka lebih besar dari 0

## Or
Bernilai True apabila salah satu pernyataan memenuhi

<details>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191122132635/Python-logical-or-operator.jpg" width="800">
</details>

In [37]:
a = 10
b = -10
c = 0

In [38]:
if a > 0 or b > 0:
    print("Salah satu variable lebih besar dari 0")
else:
    print("Tidak ada yang lebih besar dari 0")

Salah satu variable lebih besar dari 0

In [39]:
if b > 0 or c > 0:
    print("Salah satu variable lebih besar dari 0")
else:
    print("Tidak ada yang lebih besar dari 0")

Tidak ada yang lebih besar dari 0

In [40]:
a = 10
b = 12
c = 0

In [41]:
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

## Not
Negasi dari pernyataan

<details>
<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191122133914/Python-logical-not-operator.jpg" width="800">
</details>

In [42]:
a = 10

In [43]:
if not a:
    print("Bernilai True")
else:
    print('bernilai False')

bernilai False

In [44]:
if not (a%3 == 0 or a%5 == 0):
    print("10 tidak bisa dibagi 3 atau 5")
else:
    print("10 bisa dibagi 3 atau 5")

10 bisa dibagi 3 atau 5

# Kondisional
> Digunakan untuk mengendalikan kode yang akan dieksekusi dengan memperhatikan pemenuhan terhadap kondisi tertentu.

```python

if condition1:
    # baris dieksekusi jika condition1 terpenuhi
elif condition2:
    # baris dieksekusi jika condition2 terpenuhi
else:
    # baris dieksekusi jika condition1 & condition2 tidak terpenuhi


```

In [22]:
# kita akan membuat variable A
# kita akan membuat variable B
A = 16
B = 4

In [25]:
# kita akan mencoba membuat kondisi atas value pada variable A dan B
# kondisi 1
# jika nilai B > dari A, maka print B is greater than A
if B > A:
  print("B is greater than A")
# kondisi 2
# jika B == A, maka print B and A are equal
elif B < A:
  print("A is greater than B")
elif B == A:
  print("B and A are equal")
elif A == B*B:
    print("A adalah kuadrat dari B")
# kondisi else, diluar kondisi 1 dan 2
# jika dua kondisi sebelumnya tidak terpenuhi, maka print A is greater than B
else:
  print("A is equal to B")

A is greater than B

<details>
<img src="https://i.postimg.cc/J0j4HHdb/if-else.png" width="800">
</details>

# Iterasi dan Sequence Control

## For

> Digunakan untuk mengeksekusi sebuah blok kode secara berulang berdasarkan sebuah iterable.

```python
for i in iterable:
    # baris dieksekusi pada setiap loop
```

Iterable dapat berupa list, tuple, set, dictionary, string, maupun range. Kita bisa gunakan range untuk menghasilkan urutan angka secara otomatis dengan format berikut:

```range(start, finish, steps)``` seperti pada saat list slicing.

In [26]:
# kita akan mencoba membuat for loops menggunakan range:
for i in range(1,11,2):   # > kita akan melihat i (ini merupakan element dalam range), start = 1, finish = 11, steps = 2
#1, 3, 5, 7, 9
    print(i)              # > print seluruh i yang memenuhi kriteria dalam range diatas

1
3
5
7
9

In [27]:
ip = [3.7, 3.8, 4, 3.5]

In [37]:
simpan_nilai = []
for nilai in ip:
    print(nilai)
    print(nilai*10)
    simpan_nilai.append(nilai*10)
    print('\t')

3.7
37.0

3.8
38.0

4
40

3.5
35.0

In [38]:
simpan_nilai

[37.0, 38.0, 40, 35.0]

In [36]:
nilai

3.5

In [34]:
# kita akan mencoba membuat for loops dengan melakukan iterasi dalam list
# membuat variable list berisi nama
names = ["Alice", "Bob", "Charlie"]

for name in names:                   # > setiap nama di list names
    print("Hello, " + name + "!")    # > print nama-nama tersebut dengan format Hello, nama!, perhatikan spasi yang digunakan

Hello, Alice!
Hello, Bob!
Hello, Charlie!

<details>
<img src="https://i.postimg.cc/k56gxH2N/for.png" width="800">
</details>

## While

> Digunakan untuk mengeksekusi sebuah blok kode secara berulang berdasarkan sebuah kondisi tertentu yang ditetapkan selama kondisi terpenuhi.

```python
while condition:
    # baris dieksekusi jika condtion == True    
```
Kesalahan dalam membuat kode while dapat membuat loop berjalan terus-menerus.

In [39]:
# kita akan mencoba membuat while loops dengan kondisi, i < 5
# i kita tetapkan valuenya = 0
# setiap kali dia terpenuhi maka print(i)
# perhatikan maksud dari i += 1
i = 0
while i < 5 :
    print(i)
    i += 1         # >  jika kode semacam ini tidak diberikan, maka kondisi akan selalu True!

0
1
2
3
4

<details>
<img src="https://i.postimg.cc/sD4kN4kk/while.png" width="800">
</details>

## Break, Continue dan Pass
**Break statement:**
> menghentikan loop saat ini. Gunakan pernyataan break untuk keluar dari loop secara instan.
<details>
    
<img src="https://pynative.com/wp-content/uploads/2021/06/break-loop-in-python.png">

</details>

**Continue statement:**
> Lewati iterasi loop saat ini dan pindah ke iterasi berikutnya
<details>
    
<img src="https://pynative.com/wp-content/uploads/2021/06/python-continue-statement-in-loop.png">
    
</details>

**Pass statement:**
> Tidak melakukan apapun. Abaikan kondisi di mana itu terjadi dan lanjutkan untuk menjalankan program seperti biasa

sumber : https://pynative.com/python-break-continue-pass/

In [40]:
# kita akan mencoba break statement
# membuat variable kota
kota = 'jakarta'

In [42]:
# implementasi menggunakan for loops
# atas setiap huruf di variable kota
for huruf in kota:
    print(huruf)
    # break saat menemukan huruf 'r'
    if huruf == 'r':
        break
    print("belum ketemu 'r'")
# menunjukkan kapan terjadinya break
print("Sudah ketemu!")

# dapat dilihat dari interaksi yang terjadi, saat menemukan huruf 'r'
# seketika itu for loops yang dibangun berhenti

j
belum ketemu 'r'
a
belum ketemu 'r'
k
belum ketemu 'r'
a
belum ketemu 'r'
r
Sudah ketemu!

In [44]:
# kita akan mencoba continue statement
# menggunakan for loops
# atas setiap value dalam range start = 1, finish = 11


for i in range(1, 11):
    # jika value sama dengan 6,
    # continue iterasinya
    # tanpa melakukan print
    if i == 6:
        continue
    print(i)


    #else:
    #    # diluar if statement, print i ditambahkan spasi
    #    print(i, end = "\n")

1
2
3
4
5
7
8
9
10

In [ ]:
# kita akan mencoba membuat pass statement
# menggunakan variable s sebelumnya
# menggunakan for loops
# atas setiap value pada variable s
for huruf in kota:
    # jika value sama dengan 'a', print 'Pass executed'
    if huruf == 'a':
        print('Pass executed')
        # kemudian pass
        pass
    print(huruf)
# dapat dilihat bahwa print seluruh value pada variable kota tetap berlangsung

# Object Oriented Programming

Merupakan sebuah paradigma pemrograman yang menggunakan object dan class dalam programming. Intinya bagaimana menerapan objek dan sifatnya ke dalam bentuk program. Tujuannya adalah menggabungkan data dan fungsi terkait kelas tersebut ke dalam satu unit tunggal.

Beberapa konsep penting:

* Class
* Object
* Polymorphism
* Encapsulation
* Inheritance
* Data Abstraction

Silahkan cek lebih jelas [disini](https://www.geeksforgeeks.org/python-oops-concepts/)

# Library dalam Python

In [3]:
#Importing math library
import math

A = 16
print(math.sqrt(A))

4.0

## Pandas Library

In [24]:
# flight csv
link_airtravel = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/airtravel.csv"

# semicolon separated value
link_airtravel2 = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/airtravel_2.csv"

# excel
link_airtravel3 = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/airtravel_3.xlsx"

# US population csv
link_population = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/america_population.csv"

# fruit json
link_json = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/example_1.json"

# exchange rate json
link_json2 = "https://www.floatrates.com/daily/usd.json"

# titanic csv
link_titanic = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/titanic.csv"

In [25]:
import pandas as pd
import numpy as np

In [26]:
#Menggunakan library pandas
data_titanic = pd.read_csv(link_titanic)

In [27]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>

In [28]:
#Contoh datanya
data_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q